.top-level-container {
  display: flex;
  flex-direction: column;
  
  > .main-navbar {
    
  }
}



.parent-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 48px;
    
    > .sim-pair-wrapper {
      gap: .5rem;
      display: flex;
      display: row;
      flex-wrap: wrap;
    }
}

.canvas-container {
    background-color: skyblue;
    width: 512px;
    height: 512px;
}

.mapBox-container-1, .mapBox-container-2 {
    height: 512px;
    width: 512px;
    border: 2px solid black;
}
.mapBoxGl1-wrapper {
   overflow: hidden;
    position: relative;
}

.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
    }

#map {
    width: 50vw !important;
    height: 50vh !important;
  }
  
  .sim-controls {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border: 2px solid black;
    padding: 8px;
    
    > h3 {
        text-align: left;
        font-weight: bold;
        font-size: 1rem;
    }
  }
  
  .label-control-pair {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    > label:nth-child(1) {
        text-align: left;
        width: 80px;
        flex-shrink: 0;
        flex-grow: 1;
        font-weight: 600;
    }
    > label:nth-child(2) {
        flex-grow: 0;
        flex-shrink: 1;
    }
    > input {
        border: 1px solid black;
        flex-shrink: 1;
        flex-grow: 0;
        padding: 0rem .75rem;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
    }
    > .action-button-label {
        flex-grow: 0 !important;
      }
  }
  
  .label-control-pair.reset-button-pair {
    button {
        flex-grow: 1;
        font-weight: bold;
    }
    
  }
  
  .label-control-pair.empty-label-margin-right {
    > label:nth-child(3) {
        margin-right: 8px;
    }
  }
  
  .label-control-pair {
    > label:nth-child(3) {
        font-weight: bold;
    }
  }
  
  .label-control-pair.altitude-pair {
    > label:nth-child(3) {
        font-size: 1.5rem;
        margin: -2px 0px;
    }
  }

  .meters-symbol-superscript {
    font-size: .75rem !important;
    margin-top: -5px !important;
  }
  
.map-title-overlay {
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    top: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 2px;
    z-index: 100;
    background: white;
}

.reset-button-label {
  background: red;
  margin-bottom: 0 !important;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, goldenrod), color-stop(.25, black), color-stop(.5, black), color-stop(.5, goldenrod), color-stop(.75, goldenrod), color-stop(.75, black), to(black));
  background-image: -webkit-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
  background-image: -moz-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
  background-image: -ms-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
  background-image: -o-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
  background-image: linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
  }
  
  .reset-button-label-settings {
    background: red;
    margin-bottom: 0 !important;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    background-size: 12px 12px;
    background-color: white;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, goldenrod), color-stop(.25, black), color-stop(.5, black), color-stop(.5, goldenrod), color-stop(.75, goldenrod), color-stop(.75, black), to(black));
    background-image: -webkit-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
    background-image: -moz-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
    background-image: -ms-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
    background-image: -o-linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
    background-image: linear-gradient(-45deg, goldenrod 25%, black 25%, black 50%, goldenrod 50%, goldenrod 75%, black 75%, black);
    }
  
  .settings-warning {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 10%;
  }
  
  .settings-with-warning {
    display: flex !important;
    gap: .5rem;
  }
  
.hidden { display:none !important; }